.App__app__3l6tU {
	padding: 2rem;
	background-color: white;
}

.App__app__3l6tU main {
	display: flex;
	justify-content: space-evenly;
}

.Nav__navigation__ZArQU {
	padding: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.SearchForm__search-input__219Uy {
	width: 100%;
	border: 1px solid grey;
	border-radius: 4px;
	min-height: 4rem;
	min-width: 25rem;
}

.SearchResults__searchResults__1QwVH {
	margin: 1rem;
	font-size: 4rem;
}

.SearchResults__searchResults__1QwVH h2 {
	padding: 1rem;
	border-bottom: 2px solid black;
}

.SearchResultsSection__mediatype__187Cu {
	font-size: 3rem;
	text-transform: uppercase;
	text-decoration-line: underline;
	padding: 1rem;
}

.SearchResultsSection__mediatype-section__1Ry5N {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.SearchResultsSectionEntry__section-entry__CeIhr {
	font-size: 2rem;
	border: 1px solid lightgrey;
	margin: 5px;
	padding: 2.5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.SearchResultsSectionEntry__section-entry__CeIhr button {
	border: 1px solid black;
	border-radius: 4px;
}

.SearchResultsSectionEntry__entry-artwork__33A2a {
	width: 10rem;
	height: auto;
}

.SearchResultsSectionEntry__entry-descr__o6wyM {
	text-align: center;
}

.Favorites__favorites__1ToAY {
	margin: 1rem;
}
.Favorites__favorites__1ToAY h2 {
	font-size: 4rem;
	padding: 1rem;
	border-bottom: 2px solid black;
}

.Favorites__favorites__1ToAY section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.FavoriteEntry__section-entry__1qqmR {
	font-size: 2rem;
	border: 1px solid lightgrey;
	margin: 5px;
	padding: 2.5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.FavoriteEntry__section-entry__1qqmR button {
	border: 1px solid black;
	border-radius: 4px;
}

.FavoriteEntry__entry-artwork__3YgV4 {
	width: 10rem;
	height: auto;
}

.FavoriteEntry__entry-descr__xHPYa {
	text-align: center;
}

