.favorites h2 {
	font-size: 3rem;
	text-transform: uppercase;
	padding: 1rem;
	border-bottom: 2px solid black;
}

.favorites section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
