.mediatype {
	font-size: 3rem;
	text-transform: uppercase;
	text-decoration-line: underline;
	padding: 1rem;
}

.mediatype-section {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
